.header {
  display: flex;
  gap: 100px;
  justify-content: center;
  background-color: rgb(232, 232, 232);

  &__settings {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    justify-content: space-between;
  }

  &__search {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__reg-btn__wrapper {
    display: flex;
    margin-top: 27px;
    gap: 10px;
  }

  &__user-name {
    margin-top: 5px;
  }

  &__reg-btn {
    background-image: url(../../../assets/images/login.svg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(2px 2px 4px rgba(47, 128, 237, 0.25));
    width: 34px;
    height: 34px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }
}

